<!DOCTYPE html>
{% load static %}
<html class="csstransforms no-csstransforms3d csstransitions"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- <title>Suhasini Textile Agency</title> -->

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
	<!-- Style CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
   <link href="{% static 'css/custom.css' %}" rel="stylesheet">
   <link href="{% static 'css/filter.css'  rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/webslidemenu.css' %}">

  <style>
	  table
	  {
	  width: 100%;
	  
	  }
table, th, td {
   
    border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
	color: :#fff;
	
}
th, td {
	
}
.text
	  {
		  font-weight: bold;
	  }
	  
	  
</style>
</head>


<body>	
	<div id="" class="topbar">
		<section class="section-copyright1 dm-shadow">
    	
             <div id="" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
				

            </div><!-- end col-lg-6 -->
           <div id="" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
           
	            <a href="#"><i class="fa fa-th" aria-hidden="true" style="font-size:22px"></i></a>&nbsp;&nbsp;
<a href="#"><i class="fa fa-bell" aria-hidden="true" style="font-size:22px"></i></a>&nbsp;&nbsp;
<a href="#"><i class="fa fa-user-circle" aria-hidden="true" style="font-size:22px"></i></a>
        </div><!-- end container -->
		
		</section>
    </div><!-- end topbar -->

	
   <nav class="navbar navbar-inverse">
  
    
	  <div class="row">
		  
			  <div class="col-md-4 logo1"><a href="index.html"><img src="{% static 'img/logo.png' %}"></a></div>
			  <div class="col-md-8"><form class="navbar-form navbar-right" action="#">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="What are you looking for..." name="search">
        <div class="input-group-btn">
          <button class="btn " type="submit">
            Search
          </button>
        </div>
      </div>
    </form></div>
	
	  	
	  </div>
 
</nav>

   
   
   
   <!-- end header-wrapper -->
   
   
    <header class="header-wrapper menu">
	   <div class="row">
	   <div class="wsmenucontainer clearfix">
  <div class="overlapblackbg"></div>
  <div class="wsmobileheader clearfix"> <a id="wsnavtoggle" class="animated-arrow "><span></span></a> <a class="smallogo"></a> <a class="callusicon"></a> </div>
	    <div class="wsmain">
		   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 ">
		   
  

    

    <!--Main Menu HTML Code-->
   
   
      <nav class="wsmenu clearfix">
        <ul class="mobile-sub wsmenu-list">
         
        <li><a href="/hardware" class="active">Hardware <b class="caret"></b></a>
            <ul class="wsmenu-submenu">
              
              
              <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/desktop">Desktop <b class="right-caret" style="margin:8px 0 0 5px; "></b></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">AMTI</a></li>
          <li><a tabindex="-1" href="#">Apple</a></li>
          <li><a tabindex="-1" href="#">Arkphire</a></li>
          <li><a tabindex="-1" href="#">CDW</a></li>
          <li><a tabindex="-1" href="#">Dell</a></li>
          <li><a tabindex="-1" href="#">DYHL</a></li>
          <li><a tabindex="-1" href="#">Gadgets</a></li>
          <li><a tabindex="-1" href="#">Gownet</a></li>
          <li><a tabindex="-1" href="#">HP</a></li>
          <li><a tabindex="-1" href="#">Lenovo</a></li>
          <li><a tabindex="-1" href="#">Moredirect</a></li>
          <li><a tabindex="-1" href="#">Workplace</a></li>
          <li><a tabindex="-1" href="#">Zones</a></li>
        </ul>
        </li>
      
              <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/laptop">Laptop <b class="right-caret" style="margin:8px 0 0 5px; "></b></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">AMTI</a></li>
          <li><a tabindex="-1" href="#">Arkphire</a></li>
          <li><a tabindex="-1" href="#">Apple</a></li>
          <li><a tabindex="-1" href="#">CDW</a></li>
          <li><a tabindex="-1" href="#">Dell</a></li>
          <li><a tabindex="-1" href="#">DYHL</a></li>
          <li><a tabindex="-1" href="#">Gadgets</a></li>
          <li><a tabindex="-1" href="#">Gownet</a></li>
          <li><a tabindex="-1" href="#">HP</a></li>
          <li><a tabindex="-1" href="#">Lenovo</a></li>
          <li><a tabindex="-1" href="#">Moredirect</a></li>
          <li><a tabindex="-1" href="#">Workplace</a></li>
          <li><a tabindex="-1" href="#">Zones</a></li>
        </ul>
        </li>
              <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/monitor">Monitor <b class="right-caret" style="margin:8px 0 0 5px;"></b></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">AMTI</a></li>
          <li><a tabindex="-1" href="#">Apple</a></li>
          <li><a tabindex="-1" href="#">Arkphire</a></li>
          <li><a tabindex="-1" href="#">CDW</a></li>
          <li><a tabindex="-1" href="#">Dell</a></li>
          <li><a tabindex="-1" href="#">DYHL</a></li>
          <li><a tabindex="-1" href="#">Gadgets</a></li>
          <li><a tabindex="-1" href="#">Gownet</a></li>
          <li><a tabindex="-1" href="#">HP</a></li>
          <li><a tabindex="-1" href="#">Lenovo</a></li>
          <li><a tabindex="-1" href="#">Moredirect</a></li>
          <li><a tabindex="-1" href="#">Workplace</a></li>
          <li><a tabindex="-1" href="#">Zones</a></li>
        </ul>
        </li>
              
            </ul>
          </li>
        
        
         <li><a href="/accessories">Accessories <b class="caret"></b></a>
            <ul class="wsmenu-submenu">
              
              <li><a href="/Audio">Audio</a></li>
              <li><a href="/Power">Power </a></li>
              <li><a href="/Memory">Memory </a></li>
              <li><a href="/Memory">Cable </a></li>
              <li><a href="/Memory">Misc </a></li>
              <li><a href="/Memory">Dock </a></li>
              <li><a href="/Memory">Phone </a></li>
              <li><a href="/Memory">Mouse </a></li>
              <li><a href="/Memory">PrivacyFilter </a></li>
              <li><a href="/Memory">Graphic </a></li>
              <li><a href="/Memory">Keyboard </a></li>
              <li><a href="/Memory">Camera </a></li>
              <li><a href="/Memory">Sleeve </a></li>
              <li><a href="/Memory">Drive </a></li>

              
            </ul>
            
          </li>
          
          <li><a href="filter.html">AV Eng </a>
            
          </li>
			
             <li><a href="/supplier">Suppliers <b class="caret"></b></a>
            <ul class="wsmenu-submenu">
              
              <li><a href="/oem">OEM</a></li>
              <li><a href="/var">VARS</a></li>
              
            </ul>
          </li>
      
          <li><a href="/admin/report_builder/report/?starred=Starred">Reports</a></li>
          
          <li><a href="#">Dashboard <b class="caret"></b></a>
            <ul class="wsmenu-submenu">
              <li><a href="/pricechart">Price Fluctuations </a></li>
              <li><a href="/mischart">MIS Data Trend</a></li>
              </ul>
          </li>       
        </ul>
      </nav>
			   
    <!--Menu HTML Code--> 
 
  
  
  
</div>
	   	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	  

    <!--Main Menu HTML Code-->
   
   <div class="r-right">
      <nav class="wsmenu">
      
        <ul class="mobile-sub wsmenu-list">
         
        
          
           <li class="lastbut"><a href="#" >Admin</a></li>
          
		   </ul>
      </nav>
			</div>
    <!--Menu HTML Code--> 
 
  

	   		
	   	</div>
		   </div> </div></div>
   
   
   
   
   
		
	
	</header>
	
	
   
<section>
<div class="row">
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">

  
<h2>{{ object.name }}</h2>
<div id="table-scroll">

			
			
			
				
<table>
  <th width="0%">
       <td width="35%" ><h4 style="color: #325eaa">Product Configuration</h4>
      <table width="100%" >
        <tr>
          <td width="47%" class="text">RAM   </td>
          <td width="2%">:   </td>
          <td width="51%">{{ object.ram }}</td>
        </tr>
        <tr>
          <td class="text">Hard disk Storage</td>
          <td>:   </td>
          <td>{{object.harddisk}}</td>
        </tr>
        <tr>
          <td class="text">OS</td>
          <td>:   </td>
          <td>{{ object.os }}</td>
        </tr>
        <tr>
          <td class="text">Processor</td>
          <td>:   </td>
          <td>{{ object.processor }}</td>
        </tr>
        <tr>
          <td class="text">Touch Screen Type</td>
          <td>:   </td>
          <td>{{ object.touchscreen }}</td>
        </tr>
        <tr>
          <td class="text">Screen Size</td>
          <td>:   </td>
          <td>{{ object.screensize }}</td>
        </tr>
        <tr>
          <td class="text">Screen Border</td>
          <td>:   </td>
          <td> {{ object.screenborder }}</td>
        </tr>
        <tr>
			  <td class="text">Warranty </td>
		  	<td>:</td>
		  	<td>{{ object.warranty }}</td>
		  </tr>
		  <tr>
			  <td class="text"> Warranty period (months) </td>
		  	<td>:</td>
		  	<td>{{ object.warrantyperiod }}</td>
		  </tr>
     
      </table>
    </td>
  <td width="0%"></th>
  <th width="1%">
       <td width="32%"><h4 style="color: #325eaa">Specifications</h4>
      <table>
        <tr>
          <td width="46%" class="text">Category </td>
          <td width="3%">:   </td>
          <td width="51%">{{object.category}}</td>
        </tr>
        <tr>
          <td class="text">Product Type</td>
          <td>:   </td>
          <td>{{object.ProductType}}</td>
        </tr>
        <tr>
          <td class="text">Region</td>
          <td>:   </td>
          <td>{{object.region}}</td>
        </tr>
        <tr>
          <td class="text">Supplier</td>
          <td>:   </td>
          <td>{{object.supplier}}</td>
        </tr>
        <tr>
          <td class="text">Supplier Type</td>
          <td>:   </td>
          <td>{{object.suppliertype}}</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        
      </table>
    </td>
  <td width="0%"></th>
  <th width="0%" >
       <td width="31%"><h4 style="color: #325eaa">Miscelleneous</h4>
      <table>
        <tr>
          <td class="text">UPC</td>
          <td>:   </td>
          <td> {{ object.upc }}</td>
        </tr>
        <tr>
          <td class="text">SKU</td>
          <td>:   </td>
          <td>{{ object.sku }}</td>
        </tr>
        <tr>
          <td class="text">Country</td>
          <td>:   </td>
          <td>{{ object.countries }}</td>
        </tr>
        <tr>
          <td class="text">Quote Validity Period</td>
          <td>:   </td>
          <td>{{ object.validity }}</td>
        </tr>
        <tr>
          <td class="text">Unit of Measure   </td>
          <td>:   </td>
          <td>{{ object.validity }}</td>
        </tr>
        <tr>
          <td class="text">Special Instructions</td>
          <td>:   </td>
          <td>{{ object.validity }}</td>
        </tr>
        <tr>
          <td class="text"> Image</td>
          <td>:   </td>
          <td>{% if object.image %} {% endif %}</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        
      </table>
    </td>
  <td width="1%"></th>
</table>


<table>
 <th>
       <td  ><h4 style="color: #325eaa">Price</h4>
      <table width="104%">
        <tr>
          <td width="51%" class="text"> Currency  </td>
          <td width="3%">:   </td>
          <td width="46%">{{object.currency}}</td>
        </tr>
        <tr>
          <td class="text">Total Price</td>
          <td>:   </td>
          <td>{{object.totalprice}}</td>
        </tr>
        <tr>
          <td class="text">Item Price </td>
          <td>:   </td>
          <td>{{object.itemprice}}</td>
        </tr>
        <tr>
          <td class="text">Warranty Price </td>
          <td>:   </td>
          <td>{{object.warrantyprice}}</td>
        </tr>
        <tr>
          <td class="text">Asset Tag Price</td>
          <td>:   </td>
          <td>{{object.assettagprice}}</td>
        </tr>
        <tr>
          <td class="text">Base Price/Unit  </td>
          <td>:</td>
          <td>{{object.basepriceperunit}}</td>
        </tr>
        <tr>
          <td class="text">Markup Price/Unit</td>
          <td>:</td>
          <td>{{object.markuppriceperunit}}</td>
        </tr>
        <tr>
          <td class="text">Delivery Charge/Unit</td>
          <td>:</td>
          <td>{{object.deliverychargeperunit}}</td>
        </tr>
        <tr>
          <td class="text">Recycle Fee</td>
          <td>:</td>
          <td>{{object.recyclefee}}</td>
        </tr>
        <tr>
          <td class="text">Freight Charge</td>
          <td>:</td>
          <td>{{object.freightcharge}}</td>
        </tr>
        <tr>
          <td class="text">Any Other Fee</td>
          <td>:</td>
          <td>{{object.otherfee}}</td>
        </tr>
      </table>
    </td>
  <td width="2%"></th>
  <th width="1%">
       <td width="30%"><h4 style="color: #325eaa">Stock Availability and Lead Time</h4>
      <table width="100%" >
        <tr>
          <td width="48%" class="text">Current Stock Availability</td>
          <td width="3%">:   </td>
          <td width="49%">{{object.stock }}</td>
        </tr>
        <tr>
          <td class="text">Stock Lead Time</td>
          <td>:   </td>
          <td>{{object.stockleadtime }}</td>
        </tr>
        <tr>
          <td class="text">Delivery Lead Time</td>
          <td>:   </td>
          <td>{{object.deliveryleadtime }}</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp; </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp; </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp; </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp; </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp; </td>
          <td>&nbsp;</td>
        </tr>
     <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  <td width="1%"></th>
  
  <th width="1%" >
       <td width="31%"><h4 style="color: #325eaa">EOL</h4>
      <table>
        <tr>
          <td class="text">Status</td>
          <td>:   </td>
          <td>{{object.eolstatus}}</td>
        </tr>
        <tr>
          <td class="text">EoL Date</td>
          <td>:   </td>
          <td>{{object.eoldate}}</td>
        </tr>
        <tr>
          <td class="text">Previous MPN</td>
          <td>:   </td>
          <td>{{object.previousmpn}}</td>
        </tr>
        <tr>
          <td class="text">Previous Models/Part Numbers</td>
          <td>:   </td>
          <td>{{object.previouspartnumber}}</td>
        </tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
          </tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
          </tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
          </tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="text">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>
  <td width="1%"></th>
</table>
 
	
    <div id="" class="clearfix"></div>

	               
</div>                    
<!-- end section-copyright -->
	 </section>  
<!-- wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

  
	<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
	<script>
	jQuery(document).on('click', '.mega-dropdown', function(e) {
  e.stopPropagation()
})
	</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/webslidemenu.js' %}"></script>

</body></html>